@media screen and (max-width:676px){
  header {
    box-shadow: none;
    max-height: auto;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    padding: 0;
    margin-bottom: 3rem;
    max-height: 700px;

  }
  nav > ul{
    flex-direction: column;
  }
  #nav-right{
    max-height: 3.5rem;
    width: auto;
  }
  #nav-right img{
    width: 15%;

  }
  main{
    max-width: 412px;
    margin: 0;
    margin: 30px auto;
  }

.banner{
  flex-direction: column-reverse;
  margin-top: 40px;
  background-size: 80%;
  background-position: 0 100%;
  background-size: 120% auto;
}
.s1-box2{
  max-width: 25.75rem;
  
}
.s1-box1{
  padding-top: 10px;
}
.btn2{
  margin: 0;
}
.s3-container{
  display: grid;
  grid-template-columns: 1fr;
  gap 10px;
  justify-items: center;
}
.Play-Instantly{
  flex-direction: column;
  gap: 3rem;
}
.s4-text, .s5-text{
  padding: 0;
  justify-content: center;
  text-align: center;
}
.s4-text h3{
  text-align: center;
  margin-bottom: 20px;
}
.s4-text p{
  text-align: center;
  margin-top: 10px;
}
.s4-image{
  margin-left: 2rem;
}
.s4-image2{
  bottom: 134px;
  right: 85px;
}

.Play-Games-Online{
  flex-direction: column-reverse;
  gap: 3rem;
}
.s4-image{
  margin-right: 2rem;
}
.s5-image2 img{
  width: 60%;
}
.s5-image2{
  bottom: 16rem;
  left: 50rem;
  float: right;
}


.s5-text h3{
  text-align: center;
  margin-bottom: 20px;
}
.s5-text p{
  text-align: center;
  margin-top: 10px;
}
.s5-image2{
  bottom: 10rem;
  left: 13rem;
}

footer{
  background-color: #111010;
  height: 800px;
  padding-top: 120px;
}

.Games-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  row-gap: 2.5rem;
}
.f-text{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  align-items: center;
  justify-items: center;
}
.f-logos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  row-gap: 3rem;
  justify-items: center;
}
.f-text2{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  row-gap: 3rem;
  margin-bottom: 40px;
}
}


/* ////////////////////////////////// */

@media screen and (min-width:676px) and (max-width: 960px){
  header{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .nav-logo{
    gap: 1rem;
  }
  nav > ul{
    gap: 1rem;
  }
  .banner{
    flex-direction: column;
    background-size: 90%;
  }
  .s1-box1{
    margin-top: 1rem;
  }
  .s1-box2 img{
    margin-top: 5rem;
  }
  .s3-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .Play-Instantly{
    flex-direction: column;
    gap: 4rem;
  }
  .Play-Games-Online{
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .Games-list{
    grid-template-columns: repeat(3,1fr);
  }
  .f-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .f-logos{
    gap: 1rem;
  }
  footer{
    padding-top: 60px;
    height: 550px;
  }

}
/* //////////////////////////////////// */
@media screen and (min-width:960px) and (max-width: 1200px){
  .Play-Instantly{
    flex-direction: column;
    gap: 4rem;
  }
  .Play-Games-Online{
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .s5-image > img{
    width:80%
  }

}
/* ///////////////////// */
/* /////////////////////// */